SkatingDigest.json
{
  "name": "SkatingDigest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2080,
        144
      ],
      "id": "c646a45a-d2fd-4642-9c00-570618b6cc53",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "Today's Ice Schedule",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        400,
        144
      ],
      "id": "e678b632-ad85-4153-9f97-503318b2a2ce",
      "name": "Send a message",
      "webhookId": "77dfe71e-8502-496b-94b4-85834241ca50"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are generating a beautiful skating schedule email.\n\nToday’s normalized skating sessions:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}\n\nTask:\nGenerate a clean HTML email schedule board.\n\nRequirements:\n- Create columns in order\n  1. East Brunswick\n  2. Bridgewater\n  3. ProSkate \n- Only mention rinks that actually have sessions.\n- Group sessions by rink.\n- Sort sessions by start time.\n- The layout should feel like a soft daily calendar board\n- Place session cards with extra vertical spacing based on their start time:\n  - Early morning sessions should appear near the top.\n  - Midday sessions should appear around the middle.\n  - Evening sessions should appear lower.\n- Show:\n  - Session type\n  - Time range\n\nDesign style:\n- Modern calendar board\n- Clean white background\n- Soft pastel colors\n- Rounded cards\n- Cute but professional\n- Easy to scan quickly\n- Mobile friendly\n\nFormatting:\n- Use inline CSS only.\n- Use HTML tables or flexbox.\n- Each session should appear as a small rounded card.\n- Add light emojis naturally.\n- Keep spacing clean.\n\nImportant:\n- Return HTML only.\n- Do not return markdown.\n- Do not explain anything.\n- Do not include ```html fences.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        144
      ],
      "id": "a88fcccf-2090-4aa5-aa6c-9302ce2349e0",
      "name": "Email Write"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -336,
        384
      ],
      "id": "a619b98b-f7b0-4389-946d-129e99a7eac1",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const today = $now.toFormat('yyyy-MM-dd');\n\nreturn [\n  {\n    json: {\n      rink_hint: \"East Brunswick\",\n      type_hint: \"public\",\n      source_type: \"image\",\n      fetch_strategy: \"download_image\",\n      method: \"GET\",\n      url: \"https://www.eastbrunswick.org/ImageRepository/Document?documentId=11258\",\n      date: today\n    }\n  },\n  {\n    json: {\n      rink_hint: \"East Brunswick\",\n      type_hint: \"freestyle\",\n      source_type: \"html\",\n      fetch_strategy: \"fetch_html\",\n      method: \"GET\",\n      url: \"https://www.eastbrunswick.org/1028/Figure-Skating\",\n      date: today\n    }\n  },\n  {\n    json: {\n      rink_hint: \"Bridgewater\",\n      type_hint: \"all\",\n      source_type: \"api\",\n      fetch_strategy: \"call_api\",\n      method: \"GET\",\n      url: `https://api.daysmartrecreation.com/v1/events?cache[save]=false&page[size]=25&sort=start&company=rocketssports&filter[start__gte]=${today}%2000%3A00%3A00&filter[start__lte]=${today}%2023%3A59%3A59&filter[resource.facility.my_sam_visible]=true&filter[eventType.code__not]=L&filterRelations[comments.comment_type]=public&include=homeTeam.league.programType%2CvisitingTeam.league.programType%2Csummary%2Cresource.facility%2CresourceArea%2Ccomments%2CeventType`,\n      date: today\n    }\n  },\n  {\n    json: {\n      rink_hint: \"ProSkate\",\n      type_hint: \"public\",\n      source_type: \"image\",\n      fetch_strategy: \"download_image\",\n      method: \"GET\",\n      url: \"https://cdn.prod.website-files.com/651bfe9ec1ae3ff7be4eca12/69f4a8ec38ba7c83a1e8db81_May%20Public%20Skate.png\",\n      date: today\n    }\n  },\n  {\n    json: {\n      rink_hint: \"ProSkate\",\n      type_hint: \"freestyle\",\n      source_type: \"image\",\n      fetch_strategy: \"download_image\",\n      method: \"GET\",\n      url: \"https://cdn.prod.website-files.com/651bfe9ec1ae3ff7be4eca12/69f4a90418393d55354079f6_May%20Freestyle.png\",\n      date: today\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        144
      ],
      "id": "6c933f49-e8f8-41bd-ab6f-721a38cda238",
      "name": "Sources List"
    },
    {
      "parameters": {
        "method": "={{$json.method}}",
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1632,
        144
      ],
      "id": "4e36045e-88ba-407e-9df0-bfb22a6c1cb5",
      "name": "Fetch Source"
    },
    {
      "parameters": {
        "jsCode": "const sourceItems = $('Sources List').all();\nconst fetchedItems = $input.all();\n\nreturn fetchedItems.map((item, index) => {\n  const source = sourceItems[index]?.json || {};\n\n  return {\n    json: {\n      ...source,\n      fetched_json: item.json,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        144
      ],
      "id": "99bc0b58-a217-406a-8961-a7bd2ea3050b",
      "name": "Attach Source Metadata"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are extracting figure skating session information.\n\nToday is {{$json.date}}.\n\nSource hints:\n- rink_hint: {{$json.rink_hint}}\n- type_hint: {{$json.type_hint}}\n- source_type: {{$json.source_type}}\n- url: {{$json.url}}\n\nExtract all public or freestyle skating sessions for today.\n\nThe input may be:\n- webpage HTML\n- image OCR text\n- API JSON response\n\nIf the input is API JSON:\n- look for event names\n- start/end datetime\n- event type\n- comments\n- summaries\n\nExtract ONLY public skating or freestyle skating sessions.\nIgnore hockey, leagues, camps, lessons, and unrelated events.\n\nReturn ONLY valid JSON.\nYour response must start with [ and end with ].\n\nSchema:\n[\n  {\n    \"rink\": \"\",\n    \"type\": \"\",\n    \"date\": \"YYYY-MM-DD\",\n    \"start_time\": \"HH:mm\",\n    \"end_time\": \"HH:mm\"\n  }\n]\n\nRules:\n- rink must be one of: East Brunswick, Bridgewater, ProSkate.\n- type must be one of: public, freestyle.\n- Use source hints if the image/page/API does not clearly show rink or type.\n- Use 24-hour time format.\n- Do not invent times.\n- If no sessions are found, return [].\n\nInput:\n{{$json.fetched_json}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -960,
        240
      ],
      "id": "e899a878-2f58-4589-894c-f54766a4f1e1",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.source_type}}",
                    "rightValue": "api",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8b35e33-1967-44ad-95a0-109b35c4eeeb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2b5a2565-e2d2-4805-b63f-9e5549e2c79c",
                    "leftValue": "={{$json.source_type}}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8481f00d-ebe0-45b9-adc5-17b0b966ae27",
                    "leftValue": "={{$json.source_type}}",
                    "rightValue": "html",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1184,
        128
      ],
      "id": "4a8375b8-6c11-4371-913d-281315a2962b",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "let response = $json.fetched_json?.data || $json.fetched_json;\n\nif (typeof response === \"string\") {\n  response = JSON.parse(response);\n}\n\nconst events = response.data || [];\nconst sessions = [];\n\nfor (const event of events) {\n  const attr = event.attributes || {};\n  const desc = (attr.desc || attr.description || \"\").toLowerCase();\n\n  if (desc.includes(\"takedown\")) continue;\n\n  let type = null;\n  if (desc.includes(\"freestyle\")) type = \"freestyle\";\n  if (desc.includes(\"public skate\")) type = \"public\";\n\n  if (!type) continue;\n  if (!attr.start || !attr.end) continue;\n\n  sessions.push({\n    rink: \"Bridgewater\",\n    type,\n    date: attr.start.split(\"T\")[0],\n    start_time: attr.start.split(\"T\")[1].slice(0, 5),\n    end_time: attr.end.split(\"T\")[1].slice(0, 5),\n  });\n}\n\nreturn sessions.map(s => ({ json: s }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        48
      ],
      "id": "007ffe88-c0ad-48e0-8f9e-18693a8b5c2e",
      "name": "Parse Bridgewater API"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        144
      ],
      "id": "d3d822b6-8cc7-47ca-aa9a-ec371258600b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const sessions = [];\n\n// 直接从两个上游 node 取完整数据\nconst bridgewaterItems = $('Parse Bridgewater API').all();\nconst aiItems = $('AI Agent6').all();\n\n// 1. Bridgewater 已经是标准格式\nfor (const item of bridgewaterItems) {\n  const s = item.json;\n  if (s.rink && s.type && s.start_time && s.end_time) {\n    sessions.push(s);\n  }\n}\n\n// 2. AI Agent6 的 output 是 JSON string\nfor (const item of aiItems) {\n  let raw = item.json.output;\n\n  if (typeof raw === \"string\") {\n    try {\n      raw = JSON.parse(raw);\n    } catch (e) {\n      raw = [];\n    }\n  }\n\n  if (Array.isArray(raw)) {\n    for (const s of raw) {\n      if (s.rink && s.type && s.start_time && s.end_time) {\n        sessions.push(s);\n      }\n    }\n  }\n}\n\n// 排序\nsessions.sort((a, b) =>\n  `${a.date} ${a.start_time}`.localeCompare(`${b.date} ${b.start_time}`)\n);\n\n// 输出成多行 item\nreturn sessions.map(s => ({\n  json: {\n    rink: s.rink,\n    type: s.type,\n    date: s.date,\n    start_time: s.start_time,\n    end_time: s.end_time\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        144
      ],
      "id": "193ee9f4-5dbb-4c89-a6f9-5d449e5fdd9c",
      "name": "Normalize Sessions"
    },
    {
      "parameters": {
        "jsCode": "const sessions = $input.all().map(i => i.json);\n\nconst validSessions = sessions.filter(s =>\n  s.rink &&\n  s.start_time &&\n  s.end_time\n);\n\nreturn [\n  {\n    json: {\n      sessions: validSessions\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        144
      ],
      "id": "ac563626-7044-4b8e-92e2-7da450a5ba12",
      "name": "Prepare Email Input"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sources List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Write": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Write",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sources List": {
      "main": [
        [
          {
            "node": "Fetch Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source": {
      "main": [
        [
          {
            "node": "Attach Source Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Source Metadata": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Parse Bridgewater API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Bridgewater API": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalize Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sessions": {
      "main": [
        [
          {
            "node": "Prepare Email Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Input": {
      "main": [
        [
          {
            "node": "Email Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ff6449cb-0a3c-4e4c-a5f8-c28cc78d5adc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52cf5db6712a1783ebeb0748a6cd94166880e1dbcd1b17aa48519adfdab6c6d3"
  },
  "id": "5T6M3g3zYdetBtvN",
  "tags": []
}